/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f9f9f9;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    color: #f0f0f0;
    font-size: 60px;
}
h2, h3 {
    color: #333;
}
h2 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
}
h3 {
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
}

p {
    color: #555;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container-menu {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navigation */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    width: 70%;
    margin: 0 auto;
}

.menu-bar img {
    height: 50px;
}

.menu-bar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar nav ul li {
    margin: 0 15px;
}

.menu-bar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-bar nav ul li a:hover {
    color: #e07f3b;
    transition: color 0.3s ease;
}

.cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.cart-count {
    font-size: 18px;
}

/* Content */
.menu-block, .contact-form-block {
    padding: 20px;
    margin: 80px 0 20px 0;
}
.main-block {
    padding: 60px 0 0 0;
    background: no-repeat center/cover url("/images/Bann2.jpg") ;
}
.container_main-block {
    background: rgba(0, 0, 0, 0.6);
    min-height: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.container_main-block .text-block, .container_main-block .offer-block {
    flex: 1;
}
.container_main-block .text-block {
    color: #f0f0f0;
    padding: 20px 0 20px 80px;
    font-size: 26px;
}
.container_main-block .text-block p {
    color: #f0f0f0;
    font-size: 26px;
}
.container_main-block .text-block ul {
    list-style: none;
    padding: 0;
}
.container_main-block .text-block ul li::before {
    width: 40px;
    height: 40px;
    content: "";
    display: inline-block;
    margin-right: 5px;
    background: url("/images/coffee-cup.svg") no-repeat center/cover;
}

.container_main-block .offer-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_main-block .offer-block .btn_offer-block {
    margin: 20px 0;
}

.container_main-block .offer-block .text_offer-block {
    padding: 0 20px;
    max-width: 560px;
    margin: 0 auto;
    color: #f0f0f0;
}
@keyframes iridescent {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container_main-block .offer-block .btn_offer-block, .gallery_special-offer .card .order-btn , .menu-block .card .order-btn, .form-card .submit-btn, .modal-content .pay-btn, .modal-content .return-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #4b2e2e, #e07f3b, #b06227);
    background-size: 200% 200%;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: iridescent 3s infinite;
}
.pay-btn.disabled {
    background-color: grey;
    cursor: not-allowed;
    animation: none;
}

.container_main-block .offer-block .btn_offer-block:hover, .gallery_special-offer .card .order-btn:hover, .menu-block .card .order-btn:hover, .form-card .submit-btn:hover , .modal-content .pay-btn:hover, .modal-content .return-btn:hover {
    transform: scale(1.05);
}
.pay-btn.disabled:hover {
    transform: none;
}

.container_main-block .offer-block .container_slider {
    padding: 20px;
    max-width: 560px;
    margin: 0 auto;

}
.container_main-block .offer-block .container_slider .gallery-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid #ffffff;
}

.container_main-block .offer-block .container_slider .gallery_main-block {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container_main-block .offer-block .container_slider .gallery_main-block img {
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

.container_main-block .offer-block .container_slider .prev-btn_main-block, .container_main-block .offer-block .container_slider .next-btn_main-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.container_main-block .offer-block .container_slider .prev-btn_main-block {
    left: 10px;
}

.container_main-block .offer-block .container_slider .next-btn_main-block {
    right: 10px;
}

.contact-block {
    background: #ffffff;
}
.container_contact-block {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 40px;
    padding: 0 0 80px 0;
}
.container_contact-block img {
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    height: auto;
}
.container_contact-block img:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.form-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 40px;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-card h3 {
    margin-bottom: 20px;
}
.form-card input {
    height: 20px;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}
.form-card input:focus {
    border: 2px solid #ccc;
    outline: none;
}
.form-card input::placeholder {
    color: #ccc;
}

.form-card textarea {
    height: 100px;
    border: 1px solid #ccc;
    width: 90%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}
.form-card textarea:focus {
    border: 2px solid #ccc;
    outline: none;
}
.form-card textarea::placeholder {
    color: #ccc;
}
.form-card .form-group {
    padding-bottom: 20px;
}

.invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.contact-info-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 40px;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-info-card a {
    color: #007aff;
    text-decoration: none;
}
.contact-info-card a:hover p {
    color: #e07f3b;
    transition: color 0.3s ease;
}
.contact-info-card .time {
    margin: 0;
}
.icon-clock::before {
    content: url('/images/time-clock-icon.svg');
    margin-right: 5px;
}

.icon-address::before {
    content: url('/images/location-sign.svg');
    margin-right: 5px;
}

.icon-phone::before {
    content: url('/images/phone-circle-fill.svg');
    margin-right: 5px;
}

.icon-email::before {
    content: url('/images/email.svg');
    margin-right: 5px;
}

.live-music-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.live-music-block img {
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 680px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.live-music-block img:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.live-music-block .text-block {
    max-width: 60%;
    padding: 0 60px;
}

.grey-bg {
    background-color: #f0f0f0;
}

.white-bg {
    background-color: #fff;
}

.menu-block, .gallery_special-offer  {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    padding: 0 0 80px 0;
}
.menu-block .text-block, .gallery_special-offer .text-block {
    padding: 40px 0;
}

.menu-block .card, .gallery_special-offer .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 560px;
    height: 100%; /* Ensures the card takes up the full height available */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-block .card img, .gallery_special-offer .card img {
    aspect-ratio: 1 / 1;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.menu-block .card img:hover, .gallery_special-offer .card img:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.menu-block .card p, .gallery_special-offer .card p  {
    margin: 10px 0;
}

.menu-block .card p:first-of-type,
.menu-block .card p:last-of-type,
.gallery_special-offer .card p:first-of-type,
.gallery_special-offer .card p:last-of-type {
    font-weight: bold;
    font-size: 26px;
}

.menu-block .card p:last-of-type,
.gallery_special-offer .card p:last-of-type {
    padding-bottom: 40px;
}


/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.modal-content h3 {
    margin-bottom: 40px;
}
.modal-content .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
}
.modal-content .cart-item p {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}
.modal-content .cart-item button {
    background-color: #e07f3b;
    color: white;
    border: none;
    border-radius: 10px;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    font-size: 36px;
}
.modal-content .cart-item button:hover {
    background-color: #b06227;
}
.modal-content .total {
    font-size: 36px;
    font-weight: bold;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes cart-icon-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cart-icon.animate {
    animation: cart-icon-animation 1s;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 2px 0;
    margin: 0 auto;
}
footer p {
    color: white;
}

@media (max-width: 1150px) {
    body {
        padding: 0 10px;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 28px;
        padding: 60px 0;
    }

    h3 {
        font-size: 22px;
    }

    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .menu-bar nav ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-bar nav ul li {
        margin: 10px 0;
    }

    .cart-icon {
        font-size: 20px;
    }

    .cart-count {
        font-size: 16px;
    }

    .container_main-block {
        flex-direction: column;
        padding: 20px 0;
    }

    .container_main-block .text-block {
        padding: 20px;
        font-size: 22px;
    }

    .container_main-block .text-block p {
        font-size: 24px;
    }

    .container_main-block .offer-block {
        padding: 20px;
    }

    .container_main-block .offer-block .text_offer-block {
        padding: 0 10px;
    }

    .container_contact-block {
        flex-direction: column;
        gap: 20px;
    }

    .form-card, .contact-info-card {
        max-width: 100%;
        padding: 20px;
    }

    .live-music-block {
        flex-direction: column;
        padding: 20px;
    }

    .live-music-block img {
        width: 100%;
        max-width: 100%;
    }

    .live-music-block .text-block {
        max-width: 100%;
        padding: 20px 0;
    }

    .menu-block, .gallery_special-offer {
        flex-direction: column;
        gap: 20px;
    }

    .menu-block .card, .gallery_special-offer .card {
        max-width: 100%;
    }

    .modal-content {
        margin: 10% auto;
        padding: 20px;
        max-width: 90%;
    }
}
