/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f9f9f9;
    max-width: 1980px;
    margin: 0 auto;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    color: #f0f0f0;
    font-size: 100px;
}
h2, h3 {
    color: #333;
}
h2 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
}
h3 {
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
}

p {
    color: #555;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container-menu {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navigation */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    max-width: 1400px;
    margin: 0 auto;
}

.menu-bar img {
    height: 50px;
}

.menu-bar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar nav ul li {
    margin: 0 15px;
}

.menu-bar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-bar nav ul li a:hover {
    text-decoration: underline;
}

.cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-right: 10px;
}

.cart-count {
    font-size: 18px;
}

/* Content */
.menu-block, .contact-form-block {
    padding: 20px;
    margin: 80px 0 20px 0;
}
.main-block {
    padding: 60px 0 0 0;
    background: no-repeat center/cover url("/images/Bann2.jpg") ;
}
.container_main-block {
    background: rgba(0, 0, 0, 0.6);
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.container_main-block .text-block, .container_main-block .offer-block {
    flex: 1;
}
.container_main-block .text-block {
    color: #f0f0f0;
    padding: 20px 0 20px 80px;
    font-size: 18px;
}
.container_main-block .text-block p {
    color: #f0f0f0;
    font-size: 26px;
}
.container_main-block .text-block ul {
    list-style: none;
    padding: 0;
}
.container_main-block .text-block ul li::before {
    width: 30px;
    height: 30px;
    content: "";
    display: inline-block;
    margin-right: 5px;
    background: url("/images/coffee-cup.svg") no-repeat center/cover;
}

.container_main-block .offer-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_main-block .offer-block .btn_offer-block {
    margin: 20px 0;
}

.container_main-block .offer-block .text_offer-block {
    padding: 0 20px;
    max-width: 560px;
    margin: 0 auto;
    color: #f0f0f0;
}
@keyframes iridescent {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container_main-block .offer-block .btn_offer-block, .gallery_special-offer .card button , .menu-block .card .order-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: linear-gradient(135deg, #116239, #00ff66, #24734c);
    background-size: 200% 200%;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: iridescent 3s infinite;
}

.container_main-block .offer-block .btn_offer-block:hover, .gallery_special-offer .card button:hover, .menu-block .card .order-btn:hover {
    transform: scale(1.05);
}

.container_main-block .offer-block .container_slider {
    padding: 20px;
    max-width: 560px;
    margin: 0 auto;
}
.container_main-block .offer-block .container_slider .gallery-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.container_main-block .offer-block .container_slider .gallery_main-block {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container_main-block .offer-block .container_slider .gallery_main-block img {
    min-width: 100%;
    height: auto;
}

.container_main-block .offer-block .container_slider .prev-btn_main-block, .container_main-block .offer-block .container_slider .next-btn_main-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.container_main-block .offer-block .container_slider .prev-btn_main-block {
    left: 10px;
}

.container_main-block .offer-block .container_slider .next-btn_main-block {
    right: 10px;
}


.gallery_special-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 0 80px 0;
}

.gallery_special-offer .card {
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 560px;
}

.gallery_special-offer .card img {
    width: 100%;
    border-radius: 10px;
}

.gallery_special-offer .card p {
    margin: 10px 0;
}

.gallery_special-offer .card p:first-of-type,
.gallery_special-offer .card p:last-of-type {
    font-weight: bold;
}

.contact-block {
    background: #ffffff;
}
.container_contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.container_contact-block img {
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    height: auto;
}
.container_contact-block img:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.live-music-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.live-music-block img {
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: auto;
}

.live-music-block img:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.live-music-block .text-block {
    width: 60%;
    padding: 0 60px;
}

.grey-bg {
    background-color: #f0f0f0;
}

.white-bg {
    background-color: #fff;
}

.menu-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 0 80px 0;
}

.menu-block .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 560px;
}

.menu-block .card img {
    width: 480px;
    height: 480px;
    border-radius: 10px;
}

.menu-block .card p {
    margin: 10px 0;
}

.menu-block .card p:first-of-type,
.menu-block .card p:last-of-type {
    font-weight: bold;
    font-size: 26px;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 2px 0;
    margin: 0 auto;
}
footer p {
    color: white;
}
